{{- define "main" -}}

{{ if not (isset site.Params "theme") }}
  {{ errorf "Please complete the installation of Wowchemy by following the steps at https://wowchemy.com/docs/install/" }}
{{ end }}

{{ if isset site.Params "address" }}
{{ if eq (reflect.IsMap site.Params.address) false }}
  {{ errorf "Please upgrade the `address` field in `config/_default/params.toml`. Refer to all of the Breaking Changes in v4.5 at https://wowchemy.com/updates/v4.5.0/" }}
{{ end }}
{{ end }}

{{/* Full-width banner — sits outside the widget container system */}}
<div style="width:100%;line-height:0;overflow:hidden;">
  <img src="/media/dag_banner.svg" style="width:100%;display:block;" alt="Causal DAG banner" />
</div>

{{ if eq .Type "book" }}
  {{ partial "book_layout.html" . }}
{{ else }}
  {{ partial "widget_page.html" . }}
{{ end }}

{{- end -}}
