.large { font-size: 130% }
.small { font-size: 70% }
.bullet-content {
    font-size: 30px;
    padding: 0px 10px 10px 10px;
}
.bullet-contentsmall {
    font-size: 25px;
    padding: 0px 10px 10px 10px;
}
.bullet-content li ul li {
    font-size: 25px;
    padding: 0em 0em 0em 0em;
}
.mag{
	font-size: 20px;
}

.beta th {
  font-size: 40%;
}
.beta td {
  font-size: 40%;
}

.bigtab {
  margin: 50px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.bigtab table {
  border-collapse: collapse;
  padding: 0px;
  border-spacing: 5px;
  width: 100%;
}
.bigtab tr {
  margin-top:-10px;
}
.bigtab th {
  font-size: 20px;
  padding: 5px;
}
.bigtab td {
  font-size: 20px;
  padding: 5px;
}
.testcal{

}
.testcal table{
  width: 80%;
  border-collapse: collapse;
  padding: 0px;
  border-spacing: 0px;
}
.testcal tr {
  margin-top:-10px;
}
.testcal th {
  font-size: 14px;
  height:14px;
  padding: 0px;
}
.testcal td {
  font-size: 14px;
  height:9px;
  padding: 0px;
}
.smalltab table {
  color: black
  border-collapse: collapse;
  padding: 0px;
  border-spacing: 0px;
  width: 100%;
}
.smalltab tr {
  margin-top:-10px;
}
.smalltab th {
  font-size: 16px;
  height:0px;
  padding: 0px;
}
.smalltab td {
  font-size: 13px;
  height:0px;
  padding: 0px;
}


.reduced{
	font-size: 11px;
	position: absolute;
  left: 60px;
  top: 50px;
	vertical-align: middle;
}
.reduced2{
	font-size: 9px;
	position: absolute;
  left: 60px;
  top: 50px;
	vertical-align: middle;
}
.pull-right2 {
  position: absolute;
  right: 50px;
  top: 60px;
}

.reduced3{
	font-size: 8px;
	position: absolute;
  left: 50px;
  top: 50px;
}
.pull-right3 {
  position: absolute;
  right: 50px;
}

.reducedcode .remark-code{
	font-size: 0.6em;
}
.reducedcode2 .remark-code{
	font-size: 0.7em;
}
#.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #ffffff }

